*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

.header{
    text-align: center;
    margin-top: 2em;
    color: whitesmoke;
    font-family: monospace;

}
.spinload{
    width: 100px;
    height: 100px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1s ease-in-out infinite;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.bubble-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bubble-container div{
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50%;
    margin: 7px;
    animation: bounce 1s infinite ease-in-out both ;
}

.bubble-container .bubble-1{
    animation-delay: -0.30s;
}

.bubble-container .bubble-2{
    animation-delay: -0.15s;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

@keyframes bounce{
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }

}